# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
ENV/
env/
.venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log
key_log.txt

# Ignore build outputs
build/
dist/
*.spec
